:root {
  --header-background: #ff0000;

  --background-color: #c0c0c0;
  --board-border-color: #929292;

  --tile-light-border: #fbfbfb;
  --tile-dark-border: #848484;
  --tile-border-size: 0.33rem;

  --color-red: #ff0000;
  --color-dark-red: #800000;
  --color-green: #00ff00;
  --color-dark-green: #008000;
  --color-blue: #0000ff;
  --color-dark-blue: #000080;
}
