:root {
  --background-color: #c0c0c0;
  --board-border-color: #929292;

  --tile-light-border: #fbfbfb;
  --tile-dark-border: #848484;
  --tile-border-size: 0.33rem;

  --color-number-one: #0000ff;
  --color-number-two: #008000;
  --color-number-three: #ff0000;
  --color-number-four: #000080;
  --color-number-five: #800000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
}

aside {
  width: 300px;
  background: var(--background-color);
  padding: 1rem;
}

aside #counter {
  font-family: monospace;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.board-container {
  display: grid;
  place-content: center;
  flex: 1;
}

.board {
  display: grid;
  grid-template-columns: repeat(var(--size, 10), 50px);
  grid-template-rows: repeat(var(--size, 10), 50px);
}

.board > button {
  background: var(--background-color);
  cursor: pointer;
  border: var(--tile-border-size) solid var(--tile-light-border);
  border-bottom-color: var(--tile-dark-border);
  border-right-color: var(--tile-dark-border);
  font-size: 2rem;
  font-weight: bolder;
  aspect-ratio: 1;
}

.board > button.small {
  font-size: 1.4rem;
}

.board > button.value-1 {
  color: var(--color-number-one);
}

.board > button.value-2 {
  color: var(--color-number-two);
}

.board > button.value-3 {
  color: var(--color-number-three);
}

.board > button.value-4 {
  color: var(--color-number-four);
}

.board > button.value-5 {
  color: var(--color-number-five);
}

.board > button:disabled {
  border: calc(var(--tile-border-size) * 0.4) solid var(--board-border-color);
}
